<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head.html'); -%>
  </head>
  <body>
    <!-- HEADER Motor de plantilla ejs Nav -->
    <!-- Navigator -->
    <%- include('partials/navigation.html'); -%>
    <!-- footer -->
    <%- include('partials/footer.html'); %>

    <div class="container">
      <header class="row">
        <div class="col-lg-12 text-center">
          <img src="/img/homer.png" alt="Homer Geek" />

          <!-- https://www.youtube.com/watch?v=sh-NanMOh1Q&list=RDCMUCX9NJ471o7Wie1DQe94RVIg&start_radio=1&t=3496 -->
          <!-- minuto 1.03 -->
        </div>
      </header>
    </div>
  </body>
</html>
